## ASSIGNMENT PANDAS - 1

QUE-1 Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [17]:
import pandas as pd

In [18]:
# Create the Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [19]:
# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
series = pd.Series(my_list)

# Print the Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
NAME : Alice , Bob, Claire 
Age : 25 , 30, 27
gender : FEmale , male , female

In [20]:
# Create a dictionary with the data
data = {
    'NAME': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'gender': ['Female', 'Male', 'Female']
}

# Create the DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     NAME  Age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

ANS : In Pandas, a DataFrame is a two-dimensional tabular data structure that can store and manipulate data in rows and columns, similar to a spreadsheet or a SQL table. It is one of the most commonly used data structures in Pandas and provides powerful functionalities for data analysis and manipulation. Each column in a DataFrame is a Pandas Series, which means a DataFrame can be seen as a collection of Series objects with a shared index.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can store data of any data type (e.g., integers, floats, strings, etc.). A Series has an index associated with each element, which allows for easy and efficient data access and alignment. A DataFrame, as mentioned earlier, can be thought of as a collection of Series objects where each Series represents a column in the DataFrame.

In [21]:
import pandas as pd

# Example 1: Creating a Pandas Series
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

# Print the Series
print("Pandas Series:")
print(series)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In this example, we create a Pandas Series named series with five integer elements and a default numerical index.

In [22]:
# Example 2: Creating a Pandas DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Print the DataFrame
print("\nPandas DataFrame:")
print(df)

Pandas DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In this example, we create a Pandas DataFrame named df with three columns: 'Name', 'Age', and 'Gender', each represented by a Pandas Series. The DataFrame has a default numerical index, and each column (Series) has its respective data.

In summary, a Pandas Series is a one-dimensional labeled array, while a Pandas DataFrame is a two-dimensional tabular data structure that holds multiple Series objects. DataFrame allows you to organize and manipulate data in a more structured and versatile way, making it the primary choice for most data analysis tasks.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans : Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

head() and tail(): These functions are used to view the first few rows (head()) or the last few rows (tail()) of the DataFrame. They are useful for a quick glance at the data.

In [23]:
'''head() and tail()': These functions are used to view the first few rows (head()) or the last few rows (tail()) of the DataFrame. They are useful for a quick glance at the data.'''

import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva'],
    'Age': [25, 30, 27, 22, 28],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Display the first 3 rows using head()
print(df.head(3))

# Display the last 2 rows using tail()
print(df.tail(2))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
    Name  Age  Gender
3  David   22    Male
4    Eva   28  Female

info(): This function provides a concise summary of the DataFrame, including the data types, non-null counts, and memory usage. It is helpful for understanding the structure of the DataFrame.

In [24]:
# Display the information about the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Gender  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, 25th percentile, median, 75th percentile, and maximum.

In [25]:
# Get descriptive statistics of numerical columns
print(df.describe())

            Age
count   5.00000
mean   26.40000
std     3.04959
min    22.00000
25%    25.00000
50%    27.00000
75%    28.00000
max    30.00000

sort_values(): This function sorts the DataFrame based on the values of one or more columns. It's useful for organizing the data in a specific order.

In [26]:
# Sort the DataFrame based on the 'Age' column in ascending order
df_sorted = df.sort_values(by='Age')
print(df_sorted)

     Name  Age  Gender
3   David   22    Male
0   Alice   25  Female
2  Claire   27  Female
4     Eva   28  Female
1     Bob   30    Male


groupby(): This function allows you to group the data based on one or more columns and perform aggregate operations on the groups. It is commonly used in data analysis to summarize data.

In [27]:
# Group the data based on 'Gender' and calculate the average age for each group
grouped_data = df.groupby('Gender')['Age'].mean()
print(grouped_data)

Gender
Female    26.666667
Male      26.000000
Name: Age, dtype: float64

drop(): This function allows you to remove rows or columns from the DataFrame. It's handy for eliminating unwanted data.

In [28]:
# Drop the 'Gender' column from the DataFrame
df_without_gender = df.drop('Gender', axis=1)
print(df_without_gender)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27
3   David   22
4     Eva   28

These are just a few examples of common functions used to manipulate data in a Pandas DataFrame. Depending on your specific data analysis needs, Pandas offers a wide range of powerful functions to explore, filter, transform, and analyze your data efficiently.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans: Among the options given (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature.

Series: A Pandas Series is mutable, meaning you can modify the values in the Series after it has been created. You can change, add, or delete elements in a Series.

DataFrame: Similarly, a Pandas DataFrame is also mutable. You can modify the contents of a DataFrame, add or remove columns, update values, and perform various data manipulation operations.

However, it's worth noting that the concept of "Panel" in Pandas has been deprecated, and its functionality has been integrated into the MultiIndex feature of DataFrames. As of Pandas version 0.25.0, Panels are no longer recommended for use, and you should use MultiIndex DataFrames or other data structures based on your specific requirements.

In summary, both Series and DataFrame are mutable in nature, but Panels have been deprecated in favor of MultiIndex DataFrames.

Q7. Create a DataFrame using multiple Series. Explain with an example.

Ans : To create a DataFrame using multiple Series, you can pass a dictionary where each key-value pair corresponds to a column name and the corresponding Pandas Series, respectively. The DataFrame will be constructed using the Series provided in the dictionary, and the index of each Series will be aligned to create the rows of the DataFrame.

Let's create a DataFrame using multiple Series with an example:

In [29]:
import pandas as pd

# Create the first Series for 'Name'
names = pd.Series(['Alice', 'Bob', 'Claire'])

# Create the second Series for 'Age'
ages = pd.Series([25, 30, 27])

# Create the third Series for 'Gender'
genders = pd.Series(['Female', 'Male', 'Female'])

# Create the DataFrame using the dictionary
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In this example, we first created three separate Pandas Series named names, ages, and genders, each containing data for the 'Name', 'Age', and 'Gender' columns, respectively.

Next, we created a dictionary named data, where the keys are the column names ('Name', 'Age', and 'Gender') and the values are the corresponding Series. Then, we passed this dictionary to the pd.DataFrame() function to create the DataFrame df.

As a result, the DataFrame df was constructed using the data from the individual Series, and the index of each Series was aligned to form the rows of the DataFrame. The DataFrame df now contains three columns: 'Name', 'Age', and 'Gender', with their respective data.